body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#flipbook {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#flipbook>div {
    /* 确保图片填充整个页面 */
    background-size: 100% 100%;
}